In [71]:
import pandas as pd
from bs4 import BeautifulSoup
import requests


url='https://www.worldometers.info/world-population/population-by-country/'
res=requests.get(url)
soup=BeautifulSoup(res.text,'html.parser')
daticos=[]
#df=pd.DataFrame(columns=['country','population','yearly_change','net_change','density','land_area','migrants','fert_rate','med_age','urban_pop','word_share'])
data=soup.find('table',attrs={'id':'example2'}).find('tbody').find_all('tr')
for dt in data:
    daticos.append(dt.get_text())
df=pd.DataFrame(daticos)
df.head()
##df_poblacion=pd.read_html(str(tablita))

                                                   0
0   1 China 1,439,323,776 0.39 % 5,540,090 153 9,...
1   2 India 1,380,004,385 0.99 % 13,586,631 464 2...
2   3 United States 331,002,651 0.59 % 1,937,734 ...
3   4 Indonesia 273,523,615 1.07 % 2,898,047 151 ...
4   5 Pakistan 220,892,340 2.00 % 4,327,022 287 7...