In [4]:
import glob
import pandas as pd
import xml.etree.ElementTree as ET
from datetime import datetime

#definiendo funciones de extraccion de datos y probandolas

def extraer_csv(archivo_csv):
    archivo_dataframe=pd.read_csv(archivo_csv)
    return archivo_dataframe

extraer_csv("source1.csv")

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30